@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --pink1: #dfc9c9;
    --pink2: #e0c7c7;
    --gray: #b6585880;
    --gray2: #f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.container--modifier {
    width: 60%;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--pink1) 0%, var(--pink2) 100%);
}

.nav_hero {
    color: rgb(19, 8, 8);
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.blog_name {
    font-size: 30px;
    text-align: center;
}

.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active {
    color: var(--black1);
    font-weight: 700;
}

.logo_mlg {
    width: 75px;
    height: 70px;
}

.body_text {
    margin: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.img_marketing {
    width: 1150px;
    height: 650px;
}

.imagen_1 {
    text-align: center;
}

.img_baner {
    margin: 65px;
    width: 220px;
    height: 220px;
}

.img2 {
    text-align: center;
}

.txt_baner {
    width: 33.33333333%;
    text-align: center;
    float: left;
}

.diseño_name {
    text-align: center;
}

/*panel*/
.txt_oculto {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
}

.animacion {
    margin-top: 0%;
    position: relative;
    transition: 0.5s;
    transform: translateY(100%);
}

.a_title {
    text-transform: uppercase;
    padding: 10px;
    transition: 0.5s;
    transform: translateY(-100%);
    color: rgb(228, 58, 72)
}

.a_descripcion {
    padding: 5px 10px;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    text-align: justify;
}

/*animacion*/
.txt_oculto:hover .animacion {
    transform: translateY(0);
}

.txt_oculto:hover .a_title {
    transform: translateY(0%);
}

.txt_oculto:hover .a_descripcion {
    opacity: 1;
}
